h2 {
		font-style: italic;
		text-decoration: underline;
	}
	
	.bar--positive {
		fill: #A3BE8C;
		}

	.bar--negative {
		fill: #BF616A;
		}

	.axis text {
		font: 12px sans-serif;
		}

	.axis path,
	.nv-axis.nv-x .tick line {
        display:none;
    	}
	.tick line{
	visibility:hidden;
				}
	.axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
		}
	
	div.tooltip {
				position: absolute;
				text-align: right;
				width: 140px;
				height: 110px;
				padding: 6px;
				font: 12px sans-serif;
				background: white;
				border: 1px solid lightgray;
				border-radius: 8px;
				pointer-events: none;
		}
		
	#content {
		width: 500px;
		padding-left: 50px;
		font: 14px sans-serif;
		font-weight: bold;
		line-height: 1.5em;
	}