body {
  font: 11px sans-serif;
  margin-left: 0.0%;
}

.axis path,
.axis line {
  fill: #000;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 0;    
  }   
.dot {
  stroke: #FFF;
  stroke-width: 1;
}

.tooltip {    position: absolute;
        text-align: right;
        width: 140px;
        height: 80px;
        padding: 6px;
        font: 12px sans-serif;
        background: white;
        border: 1px solid lightgray;
        border-radius: 8px;
        pointer-events: none;
    }
    
.placeholderText > p {height: 100vh;  
} 
.placeholderText {position: relative;
          width: 28%;
          top: 0;
          left: 70%;
          right: 2%;
          margin-right: 2%; 
          z-index: -1;

}       
.row {
  display:flex;
  flex-direction: row 
}
#scatter {
    position: sticky;
    width: 70%;
    top: 10px;   
}